<form [formGroup]='entryForm' (ngSubmit)="onSubmit()">
  <div class="inputs-wrapper">
<mat-form-field class="form-field">
  <p>Data: (mm rrrr)</p>
  <input matInput type="text" value="{{entryBeingModified?.date}}" formControlName='date' required>
</mat-form-field>

<mat-form-field class="form-field">
  <p>Przebieg: </p>
  <input matInput type="text" value="{{entryBeingModified?.mileage}}" formControlName='mileage' required>
</mat-form-field>

<mat-form-field class="form-field">
  <p>Koszt: </p>
  <input matInput type="text" value="{{entryBeingModified?.cost}}" formControlName='cost' required>
</mat-form-field>

  <mat-form-field class="form-field">
    <p>Litraż paliwa: </p>
    <input matInput type="text" value="{{entryBeingModified?.gasolineVolume}}" formControlName='gasolineVolume'>
  </mat-form-field>

<mat-form-field class="form-field">
  <p>Typ: </p>
  <mat-select name="type" value="{{entryBeingModified?.type}}" formControlName='type' required>
    <mat-option value="tankowanie">Tankowanie</mat-option>
    <mat-option value="naprawa">Naprawa</mat-option>
    <mat-option value="utrzymanie">Utrzymanie</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field class="form-field">
  <p>Opis: </p>
  <input matInput type="text" value="{{entryBeingModified?.description}}" formControlName='description'>
</mat-form-field>
  </div>
<button mat-raised-button type="submit" [disabled]="entryForm.invalid">{{action === 'edit' ? 'Edytuj' : 'Dodaj wpis'}}</button>
</form>
<button mat-raised-button (click)="goBack()">Wróć</button>


