.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15vw 10px 15vw;
  font-size: 20px;
  .entry-value {
    margin: 0;
    font-weight: bold;
    text-align: center;
    border: 2px solid grey;
    background: whitesmoke;
    border-radius: 4px;
    padding: 3px;
  }
  .entry-title {
    margin: 0;
  }
}

.car-info {
  @extend .entry;
}
